.pos .select-currency {
    background: white;
    color: blueviolet;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
}
.pos .currency-rate {
    color: blueviolet;
    font-size: 14px;
}
.pos .currency-covert {
    color: blueviolet;
    font-size: 14px;
}
.pos .update-rate {
}
.pos .multi-currency {
    padding: 16px;
    width: 100%;
    padding-top: 0;
    border-bottom: dashed 1px gainsboro;
    min-height: 154px;
    margin-left: 18px;
    margin-right: 15px;
    font-family: "Courier New", Courier, monospace;
    margin-top: 20px;
}
.screen .screen-content {
    max-width: 100%;
}